.navigation {
  @extend %font-additional;
  color: $color-light;

  &__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    &:not(&:last-child) {
      margin-right: 31px;
    }
  }
}